#hworks {
    color: #212121;
    margin-left: 575px;
    font-size: 36px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

#works ul {
    display: flex;
}

#works ul li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
}

#firstworks {
    margin-left: 135px;
}