#filters ul {
    display: flex;
    padding: 0;
    margin-left: 475px;
}

main {
    padding-top: 94px;
    margin-top: 20px;
    border-top: 1px solid #ECECEC;
}

#filters ul li {
    display: inline-block;
    height: 38px;
    margin-left: 8px;
    margin-right: 8px;
}

#filters ul li button {
    height: 38px;
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    background: #F5F4FA;
    border: none;
}

#filters ul li:first-child button {
    height: 38px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    background: #2196F3;
    border: none;
    box-shadow: 
        0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}